.App {
  text-align: center;
  position: relative;
  background-color: rgb(255, 101, 195);
}

.Navbar{
  position: relative;
  background-color:   rgb(255, 101, 195);
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.linksNav{
  position: absolute ;
  right: 5%;
  font-size: 110%;  
  display:flex;
  justify-content: space-between;
  list-style: none;
  width: 70%;
  top: 25px;
  text-decoration: none;
}

.Login{
  align-content: center;
    height: 430px;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    font-size: 10px;  
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 40px 5px rgb(17, 10, 16);
    left: 500px;
} 
.form{
  margin-left: 40px;
  margin-right: 50px;
}
 
.formS{
  margin-left: 20px;
  margin-right: 40px;
}


.pagLogin{
  margin-top: 20px;
  margin-left: 7px;
  width: 50px;
  padding-top: 10px;
  height: 90vh;
  width: 79rem;
  background-color: rgb(255, 101, 195);
  
}
.pagSignin{
  margin-top: 1px;
  margin-left: 7px;
  width: 50px;
  padding-top: 10px;
  height: 90vh;
  width: 79rem;
  background-color: rgb(255, 101, 195);
  
}


.Navbar img{
  position: absolute;
  left: 5%;
  height: 70px;
  width: 150px;
  bottom:   -6px;
  box-shadow:  2px 5px 5px rgb(85, 80, 80);
}


.Signin{
  align-content: center;
  height: 560px;
  margin-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
  font-size: 10px;  
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 40px 5px rgb(17, 10, 16);
  left: 500px;
}
.button {
  border:white;
  color: white;
  padding: 10px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button1 {background-color: #000000;} /* Green */


.button1 {
  border:white;
  color: white;
  padding: -1px 70px 9px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button2 {background-color: #000000;}
.cerca{
  background-color: rgb(255, 101, 195);
  height: 100vh;
  width: 80rem;
  margin-top:30px;
  margin-left:-300px;
}


.img{
 height:300px;
 width: 390px;
 position: absolute;
 top:150px;
 left:150px;

}

.linkSignin{
  width: 31rem;
}

.formSignin{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -10px;
  margin-bottom: 10px;
}


.dropdown{
  color: black;
}

.buttonNav{
  font-size: 100%;
  bottom: 5px;
}


a:-webkit-any-link{
  text-decoration: none;
}

.dialog{

  margin-left: 50px;
  margin-right: 50px;
  margin-top: -5px;
  margin-bottom: 0px;
}

.formFamiglia{
  width: 600px;
  padding-top: 15px;
  padding-bottom: 18px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 30vh;
  margin-top: 5vh;
  font-size: 15px;  
  
  

}

.imgg{
  width: 30%;
  height: 30%;
  margin-left:80%;
  margin-top:-15%;
}

.aboutUs{
  background-color:  rgb(255, 101, 195);
  height: 100vh;
  width: 80rem;
}

.profile{
  background-color:  rgb(255, 101, 195);
  height: 100vh;
  width: 80rem;
}

input:invalid{
  border: 2px dashed black;
}
input:valid{
  border: 2px solid black;
}

.im{
  height: 400px;
}