.App{
  background-color:   rgb(255, 101, 195);
}
.Navbar{
  position: relative;
  background-color:   rgb(255, 101, 195);
  height: 100%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 10%;
  width: 100%;
  
}
.linksNav{
  position: absolute ;
  right: 5%;
  font-size: 110%;  
  display:flex;
  justify-content: space-between;
  list-style: none;
  width: 70%;
  top: 25px;
  text-decoration: none;
}

.Login{
text-align: center;
    padding-top: 3%;
    padding-bottom: 1%;
    margin-top: 5%;
    font-size: 10%;  
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 40px 5px rgb(17, 10, 16);
    

} 
.form{
  margin-left: 5%;
  margin-right: 20%;
  margin-bottom: 10%;

}
 
.formS{
  margin-left: 20px;
  margin-right: 40px;
}


.pagLogin{
  margin-right: 1%;
  padding-bottom: 20%;
  padding-top: 1%;
  width: 100%;
  background-color: rgb(255, 101, 195);
  
}
.pagSignin{
  margin-left: 7px;
  padding-top: 10px;
  height: 95%;
  width: 79rem;
  background-color: rgb(255, 101, 195);
  
}


.Navbar img{
  position: absolute;
  left: 3%;
  height: 70px;
  width: 150px;
  top: 8px;
  box-shadow:  2px 5px 5px rgb(85, 80, 80);
}


.Signin{
  align-content: center;
  margin-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
  font-size: 10px;  
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 40px 5px rgb(17, 10, 16);
  left: 500px;
}
.button {
  border:white;
  color: white;
  padding: 10px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button1 {background-color: #000000;} /* Green */


.button1 {
  border:white;
  color: white;
  padding: -1px 70px 9px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}


.button2 {background-color: #000000;}

.buttonp {
  border:white;
  color: white;
  margin-top: 3%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

.buttonpp {background-color: #000000;}

.cerca{
  background-color: rgb(255, 101, 195);
  height: 100vh;
  width: 89rem;
  margin-top:30px;
  margin-left:-300px;
}


.img{
 height:300px;
 width: 390px;
 position: absolute;
 top:150px;
 left:150px;

}

.linkSignin{
  width: 31rem;
}

.formSignin{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -10px;
  margin-bottom: 10px;
}


.dropdown{
  color: black;
}

.buttonNav{
  font-size: 100%;
  bottom: 5px;
}


a:-webkit-any-link{
  text-decoration: none;
}

.dialog{

  margin-left: 50px;
  margin-right: 50px;
  margin-top: -5px;
  margin-bottom: 0px;
}

.formFamiglia{
  width: 600px;
  padding-top: 15px;
  padding-bottom: 18px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 30vh;
  margin-top: 5vh;
  font-size: 15px;  
  
  

}

.imgg{
  width: 30%;
  height: 30%;
  margin-left:80%;
  margin-top:-15%;
}

.aboutUs{
  background-color:  rgb(255, 101, 195);
  height: 100vh;
  width: 80rem;
}

.profile{
  background-color:  rgb(255, 101, 195);
  height: 100vh;
  width: 80rem;
}

input:invalid{
  border: 2px dashed black;
}

.im{
  height: 100%;
  width: 90%;
}

.mprofile{
 /* align-content: center;
    height: 430px;
    width: 100%;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    font-size: 10px;  
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 40px 5px rgb(17, 10, 16);
    left: 500px;
*/
padding-top: 2%;
padding-bottom: 3%;
margin-left: 15rem;
width: 50rem;
background-color: rgb(255, 255, 255);

box-shadow: 3px 3px 40px 5px rgb(17, 10, 16);
} 
.ciao{
margin-top: 3rem;
margin-left: 1rem;
width: 10rem;
background-color: rgb(0, 0, 0);
}
.box{
  width: 30rem;
}

@media screen and (max-width:400px){

.Navbar ul li {
  display:block;
  float:none;
  width: 20%;
  
 
}
.buttonNav{
  left:3%;
}
.linksNav{
  top:30%;
  left:20%;
  font-size: 80%;
  width: 80%;
  

}
.Navbar img{
  width: 30%;
  left: -5%;
  top:20%;

}
.pagLogin {
  width: 85%;
  height: 100%;
  margin-left: 8%;
}
.form{
  margin-left:10%;
  margin-right: 10%;
}

.Login{
  margin-top:30%;
  font-size: 10%;
  
}
.im{
  width: 300px;
  height: 250px;
}
.snackbar{
  margin-left: 8%;
  width: 80%;
  height: 20%;

}
.pagSignin {

  width: 85%;
  height: 95%;
  margin-left: 7%;

}
.Signin{
  
  height: 90%;
  font-size: 40%;
  
}
.formS{
  margin-left: 2%;
  margin-right: 2%;
  width: 95%;
}
}

@media screen and (max-width:600px){

  .im{
    width: 290px;
    height: 250px;
  }
}
